@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@mixin ff-thin {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

@mixin ff-light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

@mixin ff {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@mixin ff-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@mixin ff-semibold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

@mixin ff-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@mixin ff-mono {
  font-family: 'Roboto Mono', monospace;
}