.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.text {
  font-size: 15px;
  font-weight: 600;

  @media all and (max-width: 480px) {
    font-size: 1em;
  }
}

.address {
  font-size: 14px;
  color: var(--color-notice);

  @media all and (max-width: 480px) {
    font-size: 0.5em;
  }
}