.selectedoptionrow {
  min-width: 145px;
}

.selected-option-icon {
  width: 26px;
  height: 26px;
  display: inline-block !important;
}

.selected-option-circle {
  width: 26px;
  height: 26px;
  color: var(--color-f-brightest);
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
}
