.themeSwitcher {
  position: relative;
  z-index: 1;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--color);
  margin-left: 1rem;

  svg {
    display: block;
  }
}

.rightArea,
.leftArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightArea {padding-right: 20px;}

.header,
.header-mobile {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: position 0.3s ease;
}

.flexebleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

@include media-mobile {
  .widgetHeader {
    display: unset;
    width: 100%;
  }
}

.logoutWrapper {
  margin-left: 1em;
  display: flex;
  align-items: baseline;
  cursor: pointer;
  color: var(--color-indicating);
  font-size: 14px;
  font-weight: 600;

  span {
    margin-left: 0.15em;
  }

  &:hover {
   color: var(--color-brand);
  }
}


.header-promo {
  background: transparent;
}

.header-mobile > div {
  transform: none;
  z-index: 9999999;
  transition: transform 250ms ease;
}

.loaderCreateWallet {
  display: block;
  position: fixed;
  z-index: 9999999999999999;
  width: 100vw;
  height: 100vh;
}

.walletTour {
  position: absolute;
}

.icon-field-left {
  position: relative;
  input {padding-left: 60px !important; padding-right: 50px !important}
  .icon-field {width: 15px; position: absolute; left: 5px; opacity: .5; transform: translateY(-70%);}
  .icon-field-right {cursor: pointer; width: 22px; position: absolute; right: 20px; opacity: .8; top: 50%; transform: translateY(-50%);}
}

.user-sub-header {
  position: relative;
  .user-sub-header-ul {
    position: absolute;
    right: -20px;
    top: 0;
    opacity: 1;
    transform: translateY(28%);
    min-width: 200px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.14);
    overflow: hidden;
    background: #fff;
    z-index: 1;
  }
  ul {list-style: none; padding: 0; margin: 0;}
  ul li a {padding: 8px 14px; font-size: 14px; font-weight: 500; width: 100%; border-radius: 4px; color: var(--color-brand-hover); display: inline-block;}
  ul li a:hover {background: var(--color-page-background); color: var(--color-brand);}

}

._rotate-90 img {transform: translateY(-70%) rotate(180deg) !important;}